@font-face {
  font-family: "Manrope Bold";
  src: url("./fonts/Manrope-Bold.woff");
}

@font-face {
  font-family: "Monrope Regular";
  src: url("./fonts/Manrope-Regular.woff");
}

@font-face {
  font-family: "Monrope Medium";
  src: url("./fonts/Manrope-Medium.woff");
}

@font-face {
  font-family: "Montserrat Medium";
  src: url("./fonts/Montserrat-Medium.woff");
}

@font-face {
  font-family: "Montserrat Bold";
  src: url("./fonts/Montserrat-Bold.woff");
}


// include bootstrap functions
@import "../../node_modules/bootstrap/scss/functions";

// create custom variables and override default bootstrap variables
$white-green: #E2E9DA;
$light-green: #ADD772;
$black-green: #054E2D;
//lightens color 
$custom-green: tint-color($black-green, 10%);
$primary: $black-green;
$secondary: $light-green;

@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/variables-dark";
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/utilities";

// add value to min-vh
$utilities: map-merge($utilities,
    ("min-viewport-height": map-merge(map-get($utilities, "min-viewport-height"),
        (values: map-merge(map-get(map-get($utilities, "min-viewport-height"), "values"),
            (10: 10%, 50: 50%),
          ),
        ),
      ),
    ));

// add value to vh
$utilities: map-merge($utilities,
    ("viewport-height": map-merge(map-get($utilities, "viewport-height"),
        (values: map-merge(map-get(map-get($utilities, "viewport-height"), "values"),
            (10: 10%, 20: 20%, 30: 30%, 40: 40%, 50: 50%, 60: 60%, 70: 70%, 80: 80%, 90: 90%),
          ),
        ),
      ),
    ));

$headings-font-family: "Montserrat Bold", sans-serif;
$logo-font-family: "Montserrat Medium", sans-serif;
$font-family-sans-serif: "Manrope Regular", sans-serif;

@import "../../node_modules/bootstrap/scss/bootstrap";

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  color: $black-green;
}

.navbar-brand div {
  font-family: $logo-font-family;
  color: $black-green;
  font-size: 4vh;
  letter-spacing: 0;
}

ul.navbar-nav,
.navbar-brand {
  letter-spacing: 0.1em;
  font-family: "Manrope Medium", sans-serif;
}

.white-green-background {
  background-color: $white-green;
}

.light-green-background {
  background-color: $light-green;
}

.black-green-background {
  background-color: $black-green;
}

.white-green-color {
  color: $white-green;
}

.black-green-color {
  color: $black-green;
}

#header-nav li a:hover {
  background-color: mix(white, $white-green, 50%);
}

#sidebar-label {
  font-family: $headings-font-family;
  letter-spacing: 0;
}

#sidebar-button {
  width: 4rem;
  height: 3rem;

  i {
    font-size: 1.7rem;
  }
}

#main-nav li a:hover {
  background-color: mix(white, $light-green, 50%);
}

input[type=checkbox]{accent-color:$black-green;}

#footer-nav li a {
  color: $white-green;

  &:hover {
    background-color: mix(black, $black-green, 20%);
  }
} 